.markerButton {
  background: none;
  border: none;
  cursor: help;
}

.markerButton img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: help;
}
.mapboxgl-popup-content {
  border-bottom-right-radius: 0;
  width: 80%;
}
.mainPopups img {
  width: 140px;
  height: 140px;
}