.missingChildListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 105vh;
  width: 100vw;
} 
.headerBar {
  display: flex;
  flex-direction: row;
  width: 99vw;
  height: 7vh;
  align-items: center;
}
.headerBarTitle{
  margin-left: 20%;
  margin-top: 3%;
  font-family: HeadLineA;
  font-size: 125%;
}
.missingChildList{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  /* position: inherit; */
} 
.missingChildListTitle {
  color: yellow;
  font-family: HeadLineA;
  font-size: 300%;
  margin-top: 12%;
  margin-left: 17%;
  position: fixed;
}
.recentSingleKidList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 105vh;
  width: 105vw;
  overflow: scroll;
  background-image: url('https://i.ytimg.com/vi/QuC8ABeUbbQ/maxresdefault.jpg');
  background-size: contain;

}
.recentSingleKid1 {
  margin-top: 28vh;
}
.recentSingleKid {
  margin-top: 20vh;
}
.recentSingleKid img {
  width: 16vw;  
  height: 15vh;
  margin: 2vw; 
}
.recentSingleKid1 img {
  width: 16vw;  
  height: 15vh;
  margin: 2vw; 
}

.recentSingleKid h6 {
  color: white;
  margin-top:1vh;
  margin-bottom: 1vh;
}
.recentSingleKid1 h6 {
  color: white;
  margin-top:1vh;
  margin-bottom: 1vh;
}
.recentSingleKid h2 {
  color: white;
  font-size: 90%;
  margin-top:1vh;
  margin-bottom: 1vh;
}
.recentSingleKid1 h2 {
  color: white;
  font-size: 90%;
  margin-top:1vh;
  margin-bottom: 1vh;
}