@media screen and (max-width: 414px) {
  .singleChild {
    width: 17vw;
    height: 15vh;
    margin: 0.5vh;
    /* padding: 10px; */
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .singleChild img {
    width:17vw;
    height: 9vh;
  }
  .singleChild h6 {
    margin: .5vh;
  }

}