.landing-page-wrapper {
  background-image: url('https://i.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.webp');
  background-size: cover;
  height: 100vh;
  width: 100vw;

}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 1rem;
  /* box-shadow: 0px 0px 4px #2c3c77; */
  box-shadow: 0px 0px 8px 1px #2c3c7733;
  border-radius: 5px;
  margin-top: 1rem;
 }

 @media (min-width: 600px) {
  .card {
    padding: 1rem 2rem;
  }
}



.footer-bar {
  position: fixed;
  bottom: 0;
  margin-right: 1vw;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.navbarTitle {
  color: yellow;
  font-family: HeadLineA;
  font-size: 550%;
  margin-bottom: -10%;
  margin-top: 4%;
}
.landing-page-wrapper h6 {
  color: white;
  margin-left: 22%;
  font-size: 105%;
  position: absolute;
  top: -2vh;
}

img {
  height: 69%;
  width: 63%;
  position: absolute;
  right: 3vw;
  bottom: 8vh;
  /* margin-left: 37%;
  margin-top: -40%;
  margin-bottom: 1%; */
}
#newButton {
  background-color: yellow;
}
.titleBar {
  position: fixed;
  left: 2vw;
  top: 9vh;
}