/* @media screen and (max-width: 414px) { */
  .appContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 98vw;
    height: fit-content;
    /* padding: 2px; */
    background-image: url('./Images/missing-kids-front-2-sided.png') ;
    /* background-position: top left;  */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
  }
/* } */
